/* 全局样式表---用来覆盖默认样式的 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    /* 当页面不足1366px就强制屏幕宽为1366px */
    min-width: 1366px;
}
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table{
    margin-top: 15px;
    font-size: 12px;
}
.el-pagination{
    margin-top: 15px;
}
.el-tag{
    margin: 7px;
}
.bdtop{
    border-top: 1px solid #eee;
}
.bdbottom{
    border-bottom:1px solid #eee;
}
.vcenter{
    display: flex;
    align-items: center;
}
/* 级联选择器的高度 */
.el-scrollbar__wrap{
    height: 204px;
}
.el-steps{
    margin: 20px 0;
}
.el-step__title{
    font-size: 13px;
}
/* 富文本编辑器 */
quill-editor{
    /* 最小高度是300px */
    min-height: 300px;
}